
:root{
    /* --main-color: rgb(0, 0, 0); */
    --main-color: transparent;
    --acc-color: rgb(0, 0, 0);
    --border-width: 1px;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--main-color);

}

header{
    background-color:var(--main-color);
    /* background-color: transparent; */
    border: var(--border-width) solid var(--acc-color);
    opacity: 1;

    position:fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;

    color: var(--acc-color);
}

header h1{
    text-align: center;
    
    size: 50%;
    font-size: 400%;
    font-family: var(--font-family);
    
    position: fixed;
    
    bottom: 82%;
    left: 10%;
    right: 10%;


}

songProgress {
    background-color: var(--main-color);
    position: fixed;

    top:var(--border-width);
    left: 5%;
    height: 10%;
    width: 200px;

    text-align: center;
    font-family: var(--font-family);
    font-size: larger;


}

songProgress p{
    margin-top: 0;
    margin-bottom: 0;
}

songProgress #songProgress-border{
    background-color: var(--main-color);
    border: 1px solid var(--acc-color);

    bottom: 0px; 
}

songProgress #songProgress{
    background-color: var(--acc-color);
    width: 0%;
    bottom: 0px; 
}

footer {
    background-color:var(--main-color);
    border: var(--border-width) solid var(--acc-color);
    
    position:fixed;
    bottom: 0;
    left: 0%;
    height: 15%;
    width: 100%;

    color: var(--acc-color);
    

    
}

leftPanel {
    background-color:var(--main-color);
    border: var(--border-width) solid var(--acc-color);
    
    position:fixed;
    top: 25%;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 10%;
}

rightPanel {
    background-color:var(--main-color);
    border: var(--border-width) solid var(--acc-color);
    
    position:fixed;
    bottom: 11%;
    right: 0;
    height: 50%;
    width: 10%;

    
}
rightPanel button{
    background-color: var(--main-color); 
    color: var(--acc-color);

    border: 1px solid var(--acc-color);

    position: static;
    width: 100%;
    height: 20%;
    font-family: var(--font-family);
    font-size: larger;

    
}



  
album {

    border: var(--border-width) solid var(--acc-color);

    position: fixed;

    width: 130px;
    height: 130px;

    top:11%;
    right: var(--border-width);

}

#mapContainer {
    background-color: var(--main-color);
    border: var(--border-width) solid var(--acc-color);
    position: fixed;
    width: 100%;
    height: 100%;
    left:0px;
    top:0%;
}


.grid-container {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    padding: 0;
  }

.grid-item {
    background-color: transparent;
    /* border: 1px solid rgsba(0, 0, 0); */

  }

  .gauge {
    width: 180%;
    height: auto;


    position: relative;
    left: -30px;
    top:-30px;
  }


